body {
    font-family: Arial;
    color: #333;
    margin: 0;
    padding: 0;
    background: url('background.jpg') no-repeat center center fixed;
}

header {
    background-color: green;
    color: white;
    text-align: center;
    padding: 5px 0;
}

nav {
    margin-top: 20px;
}

footer {
    color: black; 
    text-align: center;
    padding: 5px;
}
